@media (max-width: 600px) {
    .main-header ul {
        flex-direction: column;
    }

    li {
        margin: 1rem;
    }

    .d-none {
        display: none;
    }

    .bookingItems {
        display: flex;
    }

    .BookingItem-a {
        margin: 0.5rem;
    }

    

    .extra-booking-items {
        /* grid-template-columns: 0; */
        /* grid-template-rows: repeat(5, minmax(auto, 1fr)); */
        /* grid-template-rows: repeat(5, 1fr);
        justify-content: center; */
        display: flex !important;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
    }

    .extra-booking-txt {
        margin-bottom: 1rem !important;
        font-size: 0.9rem;
    }

    .txt-center {
        text-align: center;
    }

    .form-div,
    #Item-2flt_htl {
        display: none;
    }

    .grid-container {
        display: flex !important;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
    }

    .grid-item {
        margin: 1rem;
    }
}

@media screen {}

/* @media (min-width: 700px) {
    .main-header ul {
        flex-direction: row;
    }

    li {
        margin: 0 1em;
    }
} */

/* @media (max-width: 600px) {} */